extend base
//- include mixins/video

block content
    h2 Welcome to wetube
    //- each info in videos
    //-     div
    //-         h4=info.title
    //-         ul
    //-             li #{info.rating}/5.
    //-             li #{info.comments} comments.
    //-             li Posted #{info.createdAt}.
    //-             li #{info.views} views.